@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Black.ttf);
}
html, body{
    margin: 0px;
    padding: 0px;
    font-family: roboto;
}
.container{
    display: grid;
    grid-template-columns: 1fr 6fr;
}
.sidebar{
    position: relative;
    display: grid;
    grid-template-rows: 1fr 10fr;
    background-color: #0284c7;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.content-container{
    display: grid;
    grid-template-rows: 200px 1fr;
}
.dashboard{
    display: flex;
    align-items: center;
    padding: 24px;
    font-size: 1.7rem;
    color: #fafafa;
}
.dash-logo{
    width: 50px;
    height: 50px;
    fill: white;
}
.header-container{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #f9fafb;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.searchbar-container{
    display: grid;
}
.actions-container{
    display: grid;
}
.button-container{
    font-family: roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.btn{
    color: #fafafa;
    display: flex;
    height: auto;
    justify-content: center;
    background-color:#0284c7;
    padding: 8px;
    width: 80px;
    border-style: none;
    border-radius: 32px;
}
.main-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #dbd8e3;
    gap: 20px;
}
.sidebar{
    padding: 0px;
    display: grid;
    grid-template-rows: repeat(auto-fit, min(60px, 80px));
    list-style-type: none;
}
.sidebar-content{
    display: flex;
    align-items: center;
    color: #fafafa;
    font-weight: 800;
    font-size: 1rem;
    margin-left: 16px;
    padding: 12px;
}
.nav-container{
    display: grid;
}
.sidebar-text{
    margin-left: 18px;
}
.nav-logo{
    width: 25px;
    height: 25px;
    color: white;
    fill: white;
}
.nav-gap{
    margin-bottom: 60px;
}
.dash-gap{
    margin-top: 30px;
}
.projects-container{
    display: grid;
    grid-template-rows: 1fr 14fr;
}
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 3fr));
}
.project-text{
    color: #9ca3af;
    font-size: 0.9rem;
}
.news-container{
    background-color: #dbd8e3;
}
.project{
    border-radius: 8px;
    border-width: 8px;
    border-left-style: solid;
    border-color: #fdba74;
    background-color:  #f9fafb;
    margin: 10px;
    height: 300px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.projects-header{
    display: flex;
    margin-left: 32px;
    margin-top: 16px;
}
.announcements-container,.trend-container{
    display: flex;
    flex-direction: column;
}
.announ-content,.trend-content{ 
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
    padding: 24px;
    margin-right: 16px;
    font-size: 0.9rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.announ-header,.trend-header{
    margin-left: 8px;
}
.announ-border{
    height: 1px;
    margin-top: 8px;
    background-color: black;
    width: 100%;
}
.announcement{
    color: #9ca3af;
    margin-left: 4px;
}
.trend-text{
    color: #9ca3af;
}
.trend{
    margin-bottom: 32px;
}
h4{
    font-size: 1.2rem;
    color: black;
    margin-bottom: 8px;
}
.trend{
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    font-size: 0.9rem;
    padding-bottom: 8px;
}
.trend-container{ 
    margin-bottom: 16px;  
}
.trend-photo{
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
.searchbar-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    margin-left: 32px;
}
.searchbar-logo{
    width: 30px;
    height: 30px;
}
.searchbar{
    height: 30px;
    background-color: #d1d5db;
    border-style: none;
    border-radius: 14px;
    margin: 8px;
    width: 1000px;
}
.profile{
    margin-left: 32px;
    display: flex;
    align-items: center;
}
.profile-text{
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-left: 16px;
}
.profile-picture{
    width: 60px;
    height: 60px;
}
.hithere{
    font-size: 0.9rem;
}
.username{
    font-size: 1.5rem;
}
.user{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 100px;
    font-size: 1.2rem;
    gap: 24px;
}
.user-picture{
    width: 45px;
    height: 45px;
}
.notification{
    width: 35px;
    height: 35px;
}